* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(197, 227, 235);
}

.container {
    width: 600px;
    position: relative;
    margin: auto;
}

.button {
    display: block;
    margin: 50px auto 15px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(151, 25, 143);
    border-style: none;
    color: bisque;
}

.input {
    display: block;
    border: none;
    margin: 40px auto 3px;
    width: 75%;
    text-align: center;
    padding: 15px;
    font-size: 25px;
    border: none;
    border-bottom: 1px solid rgb(202, 75, 194);
    color: rgb(151, 25, 143);  
    background-image: linear-gradient(rgb(245, 234, 215), rgb(245, 158, 207));
}

input::placeholder {
    color: rgb(151, 25, 143);
    font-size: 25px;
}

input:focus {
    background-image: linear-gradient(rgb(219, 242, 248), rgb(245, 158, 207));
}

input:hover,
input:focus {
    outline: none;
}

.button:focus {
    outline-color: wheat;
} 


.ball {
    background-image: url(./ball.png);
    height: 512px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.answer {
    padding-top: 210px;
    color: wheat;
    font-size: 40px;
    text-align: center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.error {
    display: none;
}

.required {
    color: red;
    font-size: 10px;
    display: block;
    text-align: center;
}

.result {
    margin-top: 50px;
    font-size: 21px;
    color: rgb(165, 82, 241);
}

.result {
    list-style-type: none;
}



.last {
    border-top: 1px solid  rgb(202, 75, 194);
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
}

.animation img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.animation {
    text-align: center;
    padding-top: 22px;
}

.initial img {
    border-radius: 50%;
    overflow: hidden;
    width: 400px;
    height: 400px;
}

.initial {
    padding-top: 22px;
}